<div class="gauche">
  <% unless @photos.blank? %>
    <div class="photos">
      <div class="theme-dark">
        <%= nivo_slider id: "slider" do %>
          <% @photos.each do |photo| %>
            <%= image_tag photo.image.url, title: photo.title %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="conteneur">
    <h2>Description du groupe</h2>

    <p>Le groupe de Saint-Amand les Eaux, du nom de Paul Emile Victor, est composé d'une troupe masculine, d'une troupe féminine et de deux meutes également masculine et féminine. Il y a également un clan (routiers) qui est pour l'instant plutôt peu peuplé mais d'une population croissante.</p>

  </div>

	<div class="conteneur">
    <h2>Description de l'association</h2>

    <p>L'association des Eclaireurs Neutres de France est une association de scoutisme neutre qui accepte toute religion et permet à chaque enfant de grandir dans ses croyances que ce soit par la religion ou par des activités autour des grandes valeurs inculquée par le scoutisme pour les athées ou agnostiques.</p>

	</div>

  <div class="conteneur">
    <h2>Forum</h2>
    <p>Ici on a le forum avec les sujets de questionnement des parents.</p>

    <div class="right">
      <%= link_to "Nouveau sujet", new_topic_path, class: 'button' %>
    </div>

    <div class="clearer"></div>

    <% if @topics.size > 0 %>
      <div class="group">
      <% @topics.each do |topic| %>
        <%= link_to topic, class: 'item' do %>
          <div class="right">Il y a <%= time_ago_in_words topic.updated_at %></div>
          <%= topic.title %>
        <% end %>
      <% end %>
      </div>
    <% else %>
      <em>Aucun sujet de discussion pour le moment.</em>
    <% end %>
  </div>
</div>

<div class="droite">
  <div class="events">
    <h2>Évènements</h2>

    <p>
      Ici, vous pouvez retrouver tous les évènements (associations des
      parents, prochain camp, etc.) qui peuvent vous intéresser :
    </p>

    <% unless @events.blank? %>
      <ul>
        <% @events.each do |event| %>
          <li>
            <h3><%= event.title %></h3>
            <p>Le <%= l event.happen_on, format: :long %></p>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>
        <em>Aucun évènement à afficher.</em>
      </p>
    <% end %>

    <%= link_to "Tous les évènements &raquo;".html_safe, events_url, class: 'right button' %>

    <div class="clearer"></div>
  </div>
</div>
