<% banner title: @topic.title,
          description: simple_format(@topic.description),
          management_icons: true %>

<h3>Commentaires</h3>

<div class="comments">
  <% @comments.each do |comment| %>
    <div class="activity">
      <div class="bubble">
        <%= octicon("comment") %>
      </div>
      <p><%= comment.user.formatted_name %> &mdash; Il y a <%= time_ago_in_words comment.created_at %></p>
    </div>

    <div class="comment">
      <% if current_user.admin %>
        <div class="right">
          <p>
            <%= link_to octicon("trashcan"), [@topic, comment], method: :delete,
              data: { confirm: 'Êtes vous sûr ? '} %>
          </p>
        </div>
      <% end %>

      <%= simple_format(comment.body) %>
    </div>
  <% end %>
</div>

<h3>Ajouter un commentaire</h3>

<%= form_for([@topic, @topic.comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: 'Votre commentaire ...', cols: 50, rows: 10,
          class: 'comment' %>
  </div>

  <div class="clearer"></div>

  <div class="actions">
    <%= f.submit "Ajouter un commentaire", class: 'right button' %>
  </div>
<% end %>
