<h2><%= @topic.title %></h2>

<div class="lead">
  <%= simple_format @topic.description %>
</div>

<h4>Commentaires</h4>

<div class="comments">
  <% @comments.each do |comment| %>
    <div class="activity">
      <div class="bubble">
        <%= octicon("comment") %>
      </div>
      <p><strong><%= comment.user.full_name %></strong> a commenté il y a <%= time_ago_in_words comment.created_at %></p>
    </div>

    <div class="comment">
      <%= simple_format(comment.body) %>
    </div>
  <% end %>
</div>

<h4>Ajouter un commentaire</h4>

<%= form_for([@topic, @topic.comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: 'Votre commentaire ...', cols: 50, rows: 10 %>
  </div>

  <div class="clearer"></div>

  <div class="actions">
    <%= f.submit "Ajouter un commentaire", class: 'button' %>
  </div>
<% end %>
