<% banner title: @topic.title,
          description: simple_format(@topic.description),
          management_icons: true %>

<h3>Commentaires</h3>

<div class="comments">
  <% @comments.each do |comment| %>
    <div class="activity">
      <%= comment.activity %>
    </div>

    <div class="comment">
      <%= comment.content(@topic) %>
    </div>
  <% end %>
</div>

<h3>Ajouter un commentaire</h3>

<%= form_for([@topic, @topic.comments.build]) do |f| %>
  <div class="field">
    <%= f.text_area :body, placeholder: 'Votre commentaire ...', cols: 50, rows: 10,
          class: 'comment' %>
  </div>

  <div class="clearer"></div>

  <div class="actions">
    <%= f.submit "Ajouter un commentaire", class: 'right button' %>
  </div>
<% end %>
