<h1>Évènements à venir</h1>

<div class="right">
  <%= link_to 'Nouvel événement', new_event_path, class: 'button' %>
</div>

<div class="clearer"></div>

<% @upcoming_events.each do |event| %>
  <div class="event">
    <h3><%= event.title %></h3>

    <div class="right">
      <%= link_to octicon("pencil"), edit_event_path(event) %>
    </div>

    <ul>
      <li>Date : <%= time_ago_in_words event.happen_on %></li>
      <% if event.place.size > 0 %>
        <li>Lieu : <%= event.place %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h2>Évènements précédents</h2>

<% @passed_events.each do |event| %>
  <div class="event">
    <h3><%= event.title %></h3>

    <div class="right">
      <%= link_to octicon("pencil"), edit_event_path(event) %>
    </div>

    <ul>
      <li>Date : <%= time_ago_in_words event.happen_on %></li>
      <% if event.place.size > 0 %>
        <li>Lieu : <%= event.place %></li>
      <% end %>
    </ul>
  </div>
<% end %>
