<!DOCTYPE html>
<html>
  <head>
    <title>ENF - Groupe Paul-Emile-Victor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <div class="header">
      <h1>ENF &mdash; GROUPE PAUL-EMILE-VICTOR</h1>

      <div class="right_top_button">
        <%= link_to "Déconnexion", destroy_session_path(:user), method: :delete %>
      </div>
	  </div>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
