<!DOCTYPE html>

<html>

  <head>

    <title>Scout</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>


  <body>
     
    <DIV id="en_tete">
    
        <h1>ENF - GROUPE PAUL-EMILE-VICTOR</h1>

        <% if controller_name == 'meta' %>

            <DIV class="right_top_button">
            
                <%= link_to "Inscription", inscriptions_url %>

            </DIV>

        <% end %>

	</DIV>

	<DIV id="contenu">

    	<%= yield %>

   	</DIV>

  </body>

</html>