<!DOCTYPE html>
<html>
  <head>
    <title>ENF - Groupe Paul-Emile-Victor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <div class="header">
      <h1>ENF &mdash; GROUPE PAUL-EMILE-VICTOR</h1>

      <% if user_signed_in? %>
        <div class="right_top_button">
          <%= link_to "Déconnexion", destroy_session_path(:user), method: :delete %>
        </div>
      <% end %>
    </div>

    <% if content_for(:title) %>
      <div class="banner">
        <% if content_for(:title) %>
          <h2><%= content_for(:title) %></h2>
        <% end %>

        <div class="content">
          <div class="lead">
            <%= content_for(:description) %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="content">
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>

      <% if alert && controller_name != "sessions" %>
        <div class="alert"><%= alert %></div>
      <% end %>

      <%= yield %>
    </div>

    <div class="footer">
      <p>Association ENF &mdash; Groupe Paul-Emile-Victor</p>
    </div>
  </body>
</html>
