<!DOCTYPE html>
<html>
  <head>
    <title>ENF - Groupe Paul-Emile-Victor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <div id="en_tete">
      <h1>ENF - GROUPE PAUL-EMILE-VICTOR</h1>
        <% if controller_name == 'meta' %>
          <div class="right_top_button">
            <%= link_to "Inscription", inscriptions_url %>
          </div>
        <% end %>
	   </div>

  	<div id="contenu">
      <%= yield %>
    </div>
  </body>
</html>
